.App {
  text-align: center;
}

.hello {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #0066ff;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
}

.counter {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #c77324;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
}
.counter > div > div {
  font-weight: 600;
  font-size: 2rem;
}

.counter button {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: #2050d7;
  color: #dfdfdf;
  border: none;
  border-radius: 5px;
}
